{
  "$$schema": "https://raw.githubusercontent.com/ScoopInstaller/Scoop/master/schema.json",
  "version": "${version}",
  "description": "High-performance document intelligence CLI",
  "homepage": "https://xberg.io",
  "license": "MIT",
  "architecture": {
    "64bit": {
      "url": "https://github.com/xberg-io/xberg/releases/download/${tag}/xberg-cli-x86_64-pc-windows-msvc.zip",
      "hash": "${win_x64_sha}",
      "extract_dir": "xberg-cli-x86_64-pc-windows-msvc"
    }
  },
  "bin": "xberg.exe",
  "suggest": {
    "vcredist": "extras/vcredist2022"
  },
  "notes": "OCR requires Tesseract on PATH: scoop install tesseract",
  "checkver": {
    "github": "https://github.com/xberg-io/xberg"
  },
  "autoupdate": {
    "architecture": {
      "64bit": {
        "url": "https://github.com/xberg-io/xberg/releases/download/v$$version/xberg-cli-x86_64-pc-windows-msvc.zip"
      }
    }
  }
}
